@mixin display-flex-column {
  display: flex;
  flex-direction: column;
}

@mixin display-flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-align-center {
  justify-content: center;
  align-items: center;
}
